$dark-color: #1e1e1e;
$mid-dark-color: #474747;
$light-color: #c1c1c1;
$lightest-color: #FFFFFF;
$green-color: #1c9d1c;
$light-green-color: #4cf34c;
$lightest-green-color: #deffd5;
$warning-color: #ed5700;

$font-size-xsm: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 22px;