.header {
    height: 35px;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 10px 1px #999999;
    box-shadow: 1px 1px 10px 1px #999999;
    background-color: white;

    img {
        height: 100%;
    }
}