@import '/src/app/styles/variables';

.main-wrapper {
    display: flex;

    .content {
        width: calc(100% - 300px);
        background-color: $dark-color;
        color: $lightest-color;
        display: flex;
        margin: 25px;
        justify-content: center;

        app-my-squad {
            padding-left: 55px;
            padding-right: 55px;
            padding-top: 15px;
            padding-bottom: 30px;
            width: 575px;
            z-index: 2;
            margin: 25px auto;
        }

        .bench {
            padding: 20px;
            padding-top: 40px;
            width: 200px;
            z-index: 2;
            background-color: $mid-dark-color;

            &-body {
                height: 75vh;
            }

            .button {
                &-save {
                    width: 100%;
                    margin-top: 20px;
                    font-size: $font-size-md;
                }
            }

            .save-alert {
                font-size: $font-size-md;
                position: absolute;
                bottom: 90px;
                width: 200px;
                text-align: center;
                color: $lightest-green-color;
            }
        }
    }
}


@media screen and (max-width: 700px) {
    .main-wrapper {
        display: block;

        .content {
            width: calc(100% - 60px);
            display: block;

            .bench {
                width: calc(100% - 40px);
                padding-top: 20px;

                &-body {
                    height: 12vh;
                }
            }
        }
    }
}