<div class="position-row">
    <div class="position" [ngClass]="{'position-completed': isCompleted(squad, title, minimum)}">
        <div class="position-title">{{title}}</div>
        <div class="position-minimun">at least {{minimum}}
            <mat-icon *ngIf="completed" class="check-icon" aria-label="Remove player" fontIcon="check"></mat-icon>
        </div>
    </div>
    <div class="selected-players">
        <app-player-selected [player]="player" *ngFor="let player of players"></app-player-selected>

        <app-person-placeholder *ngFor="let players of getPlaceholderPlayers(players, minimum)"
            [name]="dataService.getShortPosition(title)"></app-person-placeholder>
    </div>
</div>